In [1]:
import re
import pandas as pd

In [2]:
fileObject = open("data.txt", "r")
text = fileObject.read()

In [3]:
number_regex = re.compile(r'\d+\.*\d*')
vector = number_regex.findall(text)

In [4]:
vector = vector[19:]
len(vector)/14

506.0

In [5]:
import numpy as np
arr = np.array(vector)
new_arr = arr.reshape(506, 14)
new_arr = new_arr.astype(np.float64)

In [6]:
variables = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD',
             'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
df = pd.DataFrame(new_arr, columns = variables)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [7]:
df.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305
ZN,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445
INDUS,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725
CHAS,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260
NOX,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321
RM,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808,0.695360
AGE,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955
DIS,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929
RAD,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626
TAX,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536
PTRATIO,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787
B,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461
LSTAT,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663
MEDV,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.695360,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000

### 2.4 Question 4
Create a function called lm, that takes an x, and y, and returns the random m and b variables in the linear equation

In [8]:
import random
random.seed(42)

predictors = ['CRIM','ZN','INDUS','CHAS','RM','AGE','DIS','RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']

X = df[predictors]
y = df['MEDV']


def lm(x, y):
    # create random m, b
    
    m = random.random()
    b = random.random()
    return m, b

m, b = lm(X, y)


print(m)
print(b)

0.6394267984578837
0.025010755222666936

### 2.5 Question 5
Using these m, b variables, create a housing price prediction for each row of
data.

In [9]:
for predictor in predictors:
    
    df['ypred_'+ predictor] = m * df[predictor] + b


df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,ypred_INDUS,ypred_CHAS,ypred_RM,ypred_AGE,ypred_DIS,ypred_RAD,ypred_TAX,ypred_PTRATIO,ypred_B,ypred_LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,...,1.502087,0.025011,4.229242,41.715638,2.640266,0.664438,189.295343,9.808241,253.813507,3.209356
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,...,4.545758,0.025011,4.130770,50.475785,3.201108,1.303864,154.766296,11.406808,253.813507,5.869372
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,...,4.545758,0.025011,4.619292,39.093988,3.201108,1.303864,154.766296,11.406808,251.211040,2.601901
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,...,1.418961,0.025011,4.499719,29.310758,3.901344,1.943291,141.977760,11.982292,252.362008,1.904926
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,...,1.418961,0.025011,4.594994,34.681943,3.901344,1.943291,141.977760,11.982292,253.813507,3.433156

In [10]:
df.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,ypred_INDUS,ypred_CHAS,ypred_RM,ypred_AGE,ypred_DIS,ypred_RAD,ypred_TAX,ypred_PTRATIO,ypred_B,ypred_LSTAT
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,...,7.653372,0.025011,4.240752,44.209403,1.609894,0.664438,174.588527,13.452974,250.673921,6.208268
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,...,7.653372,0.025011,3.938303,49.069046,1.487700,0.664438,174.588527,13.452974,253.813507,5.831006
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,...,7.653372,0.025011,4.485652,58.212849,1.410968,0.664438,174.588527,13.452974,253.813507,3.631378
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,...,7.653372,0.025011,4.369276,57.125824,1.552537,0.664438,174.588527,13.452974,251.607485,4.168496
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,...,7.653372,0.025011,3.880754,51.690696,1.626775,0.664438,174.588527,13.452974,253.813507,5.063694

In [11]:
df.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,ypred_INDUS,ypred_CHAS,ypred_RM,ypred_AGE,ypred_DIS,ypred_RAD,ypred_TAX,ypred_PTRATIO,ypred_B,ypred_LSTAT
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,...,7.653372,0.025011,4.240752,44.209403,1.609894,0.664438,174.588527,13.452974,250.673921,6.208268
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,...,7.653372,0.025011,3.938303,49.069046,1.487700,0.664438,174.588527,13.452974,253.813507,5.831006
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,...,7.653372,0.025011,4.485652,58.212849,1.410968,0.664438,174.588527,13.452974,253.813507,3.631378
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,...,7.653372,0.025011,4.369276,57.125824,1.552537,0.664438,174.588527,13.452974,251.607485,4.168496
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,...,7.653372,0.025011,3.880754,51.690696,1.626775,0.664438,174.588527,13.452974,253.813507,5.063694

### 2.6 Question 6
Create a function mae that calculate the mean absolute error of the true
house price value and the predicted value. What is the error?

In [12]:
def mae(y, y_pred):
    
    mae = [abs(y - y_pred)] 

    return sum(mae)

mae2 = mae(y, df['ypred_INDUS'])
mae2

0      22.497913
1      17.054242
2      30.154242
3      31.981039
4      34.781039
         ...
501    14.746628
502    12.946628
503    16.246628
504    14.346628
505     4.246628
Length: 506, dtype: float64